@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,100&display=swap");

///////////////////////////     HEADER SECTIONS     ///////////////////////////////////////

.header-section {
  ul li {
    a {
      color: #ffffff !important;
      font-weight: 600;
    }
  }
}

.navbar {
  background-color: transparent;
}

.navbar.colorChange {
  background-color: #000;
}

///////////////////////////////////   HERO SECTION       /////////////////////////////////

.hero-section {
  background-image: url("https://porkswap.finance/assets/images/bg.png");
  background-size: cover;
  background-position: center;
}

//////////////////////////////   CARD SECTIONS        /////////////////////////////////////////////////////

.cards-section {
  background-image: url("https://porkswap.finance/assets/images/bgs/Section-31.png");
  background-size: cover;
  background-repeat: no-repeat;

  .mycard:nth-child(even) {
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 10%) !important;
    border-radius: 3px;
    padding: 0;
  }
  .card:nth-child(odd) {
    background-color: transparent;
    z-index: 12345 !important;
  }
}

////////////////////////////   HOW TO WORK SECTION   //////////////////////////////////

.how-to-work-section {
  background-image: url("https://porkswap.finance/assets/images/bgs/bg.png");
  background-size: cover;
}

///////////////////////////////   TOKEN SECTION  /////////////////////////

@keyframes myAnim {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}

.token-distribution-section {
  background-image: url("https://porkswap.finance/assets/images/bgs/Frame-13-3.png");
  background-size: cover;

  .token-image {
    background-image: url("https://porkswap.finance/assets/images/bgs/token-base.png");
    position: relative;
    width: 100%;
    height: 18.75rem;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    max-width: 73.125rem;
    margin: 0 auto 2.5rem;
    &::before {
      background-image: url("https://porkswap.finance/assets/images/bgs/token-hover.png");
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: 12%;
      background-repeat: no-repeat;
    }
  }

  .token-image-graph-info {
    position: absolute;
    color: #424242;
    width: 10.9375rem;
    position: absolute;
    top: 0;
    left: 50%;
    height: 6.125rem;
    margin-left: -5.1rem;
    margin-top: -4.5rem;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    animation: myAnim 7s linear 0s infinite normal forwards;
  }

  .token-image-shadow {
    position: absolute;
    top: 130px;
    left: 50%;
    width: 3.125rem;
    height: 0.625rem;
    margin-left: -1.5625rem;
    border-radius: 50%;
    background-color: #e5d7e5;
    animation: shadowBounce 2s ease-in-out infinite;
  }

  .token-image-info {
    position: absolute;
    color: #424242;
    width: 10.9375rem;
  }
  .token-image-info:nth-of-type(3) {
    bottom: 50px;
    left: -2%;
  }
  .token-image-info:nth-of-type(4) {
    left: 10%;
    margin-top: -1.0625rem;
    top: 0;
  }

  .token-image-info:nth-of-type(5) {
    right: 10%;
    top: 0;
    margin-top: -1.0625rem;
  }
  .token-image-info:nth-of-type(6) {
    bottom: 100px;
    right: -2%;
  }
}

/////////////////////////////    PLATER FRORM SECTION       ////////////////////////////////@at-root

.plateform-section {
  background-image: url("https://porkswap.finance/assets/images/bgs/bg-1.png");
  background-size: cover;
}

/////////////////////////////  ROAD SECTION  ////////////////////////

.roadmap-section {
  background-image: url("https://porkswap.finance/assets/images/bgs/Frame-13-3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

////////////////////////////////  COMPARISION SECTION  //////////////////////////////////////@at-root

.comparision-table-section {
  background-image: url("https://porkswap.finance/assets/images/bgs/bg.png");
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .comparision-table-section {
    .MuiTableCell-head {
      img {
        width: 100px !important;
      }
    }
  }
}

///////////////////////////  FAQS SECTION  ///////////////////////////////////@at-root

.faq-section {
  background-image: url("https://porkswap.finance/assets/images/bgs/bg.png");
  background-size: cover;
}

.styles_faq-row-wrapper__3vA1D {
  background-color: #f4f7fd !important;

  .styles_row-body__1NvUo .styles_faq-row__2YF3c {
    border: none !important;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
  }
}

.row-title-text {
  font-weight: bold;
  font-size: 1rem;
}

//////////////////////////  FOOTER SECTION  ///////////////////////////////@at-root

.footer-section {
  background-color: #12436b;
}
